* {
  box-sizing: border-box;
}
/* bakery */
.green_heading {
  max-width: 65vw;
  font-size: 7.7vh;
  color: #8ac03b;
  font-family: "Chivo", sans-serif;
  font-weight: 100;
  margin-bottom: 11.5vh;
  margin-top: 22.5vh;
  line-height: 5.5rem;
}

.black_heading {
  max-width: 60vw;
  font-size: 12.5vh;
  font-family: "Chivo", sans-serif;
  font-weight: 1000;
  color: #1d2b44;
  margin-bottom: 33vh;
  line-height: 5.5rem;
}

.sidebar_heading {
  font-size: 30px;
  width: 30vh;
  font-family: "Nunito", sans-serif;
  color: #073763;
}

.para_heading {
  font-size: 24px;
  font-weight: bold;
  color: #073763;
  font-family: "chivo", sans-serif;
  margin-bottom: 15vh;
}
.container {
  margin-bottom: 10vh;
}
ul.link_container {
  padding-left: 0px;
  list-style-type: none;
}

.sticky-top {
  top: 20vh;
  z-index: 0;
}

.sidebar_link {
  color: black;
  list-style-type: none !important;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  line-height: 2.5;
  padding: 10px;
  font-weight: normal;
  margin-bottom: 2px;
}

.sidebar_link:hover {
  opacity: 0.1;
  color: black;
}

small {
  color: grey;
}

.head {
  margin: 0vh 0vh 0vh 15vh;
}

.para_first,
.para_second {
  color: #494d4e;
  font-size: 18px;
  font-family: "chivo", sans-serif;
}
.para2_heading {
  font-size: 30px;
  font-family: "Nunito", sans-serif;
  color: #073763;
  font-weight: bold;
}
/* blog-section */
.Blog_heading {
  font-size: 1.625rem;
  text-align: center;
  font-weight: 900;
  color: #113d63;
  font-family: "Nunito", sans-serif;
  margin-top: 12vh;
}

.ReadMore {
  text-decoration: none;
  color: #113d63;
  transition: all 0.4s ease-in-out;
}

.ReadMore:hover {
  color: orange;
  text-decoration: underline;
}
/* navbar styling */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/* footer-styling */
.copyright {
  font-family: chivo, sans-serif;
  font-weight: 200;
  line-height: 1.5;
  background: black;
  text-align: center;
  color: white;
  padding: 1rem;
  word-wrap: break-word;
  font-size: 17px;
}
.flex-container {
  background: #f7f7f7;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.flex-container > div {
  font-family: "chivo", sans-serif;
  width: 18rem;
  margin: 10px;
  font-size: 17px;
  line-height: 1.8rem;
}
.flex-container > div > ul {
  list-style: none;
}
.flex-container > div > ul > li {
  line-height: 2.5rem;
  cursor: pointer;
}
.flex-container > div > ul > li:hover {
  color: orange;
}
.footer_section {
  color: #113d63;
  font-weight: 700;
}
.footer_section h3 {
  color: #113d63;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
/* homepage */
.imagebox1 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/Serve-restaurant@2x.png");
}
.imagebox2 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/Serve-supermarket@2x.png");
}
.imagebox3 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/Serve-cloudkitchen@2x.png");
}
.imagebox4 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/Serve-enterprise@2x.png");
}
.imagebox5 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/order-dashboard/Order%20fulfillment.png");
  background-position: center;
}
.imagebox6 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/order-dashboard/sales%20%26%20revenues.png");
  background-position: center;
}
.imagebox7 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/order-dashboard/inventory%20usage.png");
  background-position: center;
}
.imagebox8 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/order-fulfilment/pickup%20insights.png");
  background-position: center;
}
.imagebox9 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/order-fulfilment/self%20delivery%20reports.png");
  background-position: center;
}
.imagebox10 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/order-fulfilment/delivery%20partner.png");
  background-position: center;
}
.imagebox11 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/order-dashboard/order-dashboard-hero2@2x.png");
  background-position: left;
  background-size: 130vh;
  background-repeat: no-repeat;
  height: 80vh;
}

.imagebox12 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/order-dashboard/order-dashboard-hero2@2x.png");
}
.imagebox13 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/order-dashboard/DailyOS-Notifications@2x.png");
}
.imagebox14 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/order-dashboard/DailyOS-Notifications@2x.png");
}
.imagebox15 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/order-dashboard/print-KOTs@2x.png");
  background-position: center;
}
.imagebox16 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/order-dashboard/print-KOTs@2x.png");
}
.imagebox17 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/order-dashboard/print-KOTs@2x.png");
}
/* used in page-'order-routing-and-kitchen-display-system' */
.imagebox18 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/order-routing/Digitalize-Kitchen-Operation5@2x.png");
  background-position: left;
  background-size: 200vh;
  background-repeat: no-repeat;
  height: 90vh;
}
.accompaniments_image {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/hardwareee.png");
}
.onDemandCategories {
  list-style-type: "✔ ";
}
.onDemandCategories li {
  margin-bottom: 2rem;
}
.nunito {
  font-family: "Nunito", sans-serif;
}
.margin {
  margin: 0px 0px 0px 60px !important;
}
/* videoheader */
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
}
.videoTag_text {
  position: absolute;
  text-align: center;
}
.videoTag_btn {
  padding: 10px 10px 10px 10px;
}
/* vertical line */
.vl {
  border-left: 4px solid #8ac03b;
  height: 50px;
  display: inline-block;
  margin-left: 20px;
}
.blackline {
  border-left: 3px solid #ffffff;
  height: 230px;
  display: inline-block;
  margin-left: 20px;
  margin-right: -90px;
}
.column:hover {
  background: #f8f8f7;
  box-shadow: 2px 2px 3px 3px #e7e7e6;
}
.column2:hover {
  background: #111b2b;
  box-shadow: -4px 4px 2px rgb(27 43 69 / 30%), 4px -4px 2px rgb(7 11 17 / 50%),
    inset 100px 100px 200px rgb(7 11 17 / 20%),
    inset -100px -100px 200px rgb(7 11 17 / 20%),
    inset 100px -100px 200px rgb(27 43 69 / 90%),
    inset -100px 100px 250px rgb(7 11 17 / 90%);
}
.column3 {
  border-radius: 7px;
  background: linear-gradient(135deg, #121c2d 0%, #101a29 100%);
  box-shadow: 10px -10px 20px rgb(7 11 17 / 20%),
    -10px 10px 20px rgb(7 11 17 / 20%), 10px 10px 20px rgb(27 43 69 / 90%),
    -10px -10px 25px rgb(7 11 17 / 90%), inset -1px -1px 2px rgb(27 43 69 / 30%),
    inset 1px 1px 2px rgb(7 11 17 / 50%);
}
/* optimize kitchen */
.container_weserve {
  display: flex;
  flex-direction: row;
  background-color: #111b2b;
}
.sideBar_left {
  margin-left: 12vh;
  width: 50%;
}

.sideBar_left h6 {
  color: #8ac03b;
  padding: 100px 0px 20px 0px;
}

.sideBar_left h1 {
  color: white;
  font-size: 9vh;
  padding-bottom: 5vh;
}

.sideBar_left h5 {
  color: white;
  border-left: solid 5px #8ac03b;
  padding: 0vh 0vh 1vh 4vh;
  line-height: normal;
}
.weserve_button1 {
  padding: 15px 41px 15px 41px;
  color: #111b2b;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.weserve_button2 {
  background-color: #111b2b;
  color: white;
  font-weight: bold;
  margin: 30px 0px 0px 5px;
  padding: 15px 41px 15px 41px;
  border: none;
  border-radius: 5px;
}
.weserve_img {
  height: auto;
  width: 100%;
}
.container_weserve {
  margin-top: 12rem;
}
.learn {
  padding: 12px 21px 12px 21px;
  color: #111b2b;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-bottom: 4rem;
}
.learMore_button2 {
  background-color: #8ac03b;
  color: white;
  padding: 5px 31px 5px 31px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}
.blackline2 {
  border-left: 3px solid #ffffff;

  display: inline-block;
  margin-left: 20px;
  margin-right: -90px;
}
