* {
  box-sizing: border-box;
}
/* bakery */
.green_heading {
  max-width: 65vw;
  font-size: 7.7vh;
  color: #8ac03b;
  font-family: "Chivo", sans-serif;
  font-weight: 100;
  margin-bottom: 11.5vh;
  margin-top: 22.5vh;
  line-height: 5.5rem;
}

.black_heading {
  max-width: 60vw;
  font-size: 12.5vh;
  font-family: "Chivo", sans-serif;
  font-weight: 1000;
  color: #1d2b44;
  margin-bottom: 33vh;
  line-height: 5.5rem;
}

.sidebar_heading {
  font-size: 30px;
  width: 30vh;
  font-family: "Nunito", sans-serif;
  color: #073763;
}

.para_heading {
  font-size: 24px;
  font-weight: bold;
  color: #073763;
  font-family: "chivo", sans-serif;
  margin-bottom: 15vh;
}
.container {
  margin-bottom: 10vh;
}
ul.link_container {
  padding-left: 0px;
  list-style-type: none;
}

.sticky-top {
  top: 20vh;
  z-index: 0;
}

.sidebar_link {
  color: black;
  list-style-type: none !important;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  line-height: 2.5;
  padding: 10px;
  font-weight: normal;
  margin-bottom: 2px;
}

.sidebar_link:hover {
  opacity: 0.1;
  color: black;
}

small {
  color: grey;
}

.head {
  margin: 0vh 0vh 0vh 15vh;
}

.para_first,
.para_second {
  color: #494d4e;
  font-size: 18px;
  font-family: "chivo", sans-serif;
}
.para2_heading {
  font-size: 30px;
  font-family: "Nunito", sans-serif;
  color: #073763;
  font-weight: bold;
}
/* blog-section */
.Blog_heading {
  font-size: 1.625rem;
  text-align: center;
  font-weight: 900;
  color: #113d63;
  font-family: "Nunito", sans-serif;
  margin-top: 12vh;
}

.ReadMore {
  text-decoration: none;
  color: #113d63;
  transition: all 0.4s ease-in-out;
}

.ReadMore:hover {
  color: orange;
  text-decoration: underline;
}
/* navbar styling */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/* footer-styling */
.copyright {
  font-family: chivo, sans-serif;
  font-weight: 200;
  line-height: 1.5;
  background: black;
  text-align: center;
  color: white;
  padding: 1rem;
  word-wrap: break-word;
  font-size: 17px;
}
.flex-container {
  background: #f7f7f7;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.flex-container > div {
  font-family: "chivo", sans-serif;
  width: 18rem;
  margin: 10px;
  font-size: 17px;
  line-height: 1.8rem;
}
.flex-container > div > ul {
  list-style: none;
}
.flex-container > div > ul > li {
  line-height: 2.5rem;
  cursor: pointer;
}
.flex-container > div > ul > li:hover {
  color: orange;
}
.footer_section {
  color: #113d63;
  font-weight: 700;
}
.footer_section h3 {
  color: #113d63;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
/* homepage */
.imagebox1 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/Serve-restaurant@2x.png");
}
.imagebox2 {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/Serve-supermarket@2x.png");
}
.accompaniments_image {
  background-image: url("https://www.dailykit.org/hubfs/dailykit-assets/accompaniments.gif");
}
.onDemandCategories {
  list-style-type: "✔ ";
}
.onDemandCategories li {
  margin-bottom: 2rem;
}
.nunito {
  font-family: "Nunito", sans-serif;
}
.margin {
  margin: 0px 0px 0px 60px !important;
}
/* videoheader */
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
}
.videoTag_text {
  position: absolute;
  text-align: center;
}
.videoTag_btn {
  padding: 10px 10px 10px 10px;
}
/* vertical line */
.vl {
  border-left: 6px solid #8ac03b;
  height: 50px;
  display: inline-block;
  margin-right: 20px;
}
.blackline {
  border-left: 3px solid #ffffff;
  height: 230px;
  display: inline-block;
  margin-left: 20px;
  margin-right: -90px;
}
.column:hover {
  background: #f8f8f7;
  box-shadow: 2px 2px 3px 3px #e7e7e6;
}
